@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#table-list li:nth-child(1),
#table-list li:nth-child(2)
{
  border-top-width: 2px;
}

.dropzone-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.dropzone.-drop-possible { border-color: #666; }

.dropzone.-drop-over {
  background: #666;
  color: #fff;
}

.draggable {
  position: relative;
    z-index: 10;
  -ms-touch-action: none;
      touch-action: none;
}

.dropped {
  position: initial;
}

#table-content li {
  width: 32rem;
}

#table-content li > div {
  font-size: 2.75rem;
}

#table-content .js-drop {
  height: 4rem;
}

#table-content .js-drag img {
  height: 3rem;
  width: 3rem;
}

#table-content .js-drag span {
  font-size: 2.5rem;
}

#save-btn {
  animation-duration: 1.5s;
  animation-name: topToBottom;
}

@keyframes topToBottom {
  from {
    opacity: 0;
    transform: translate(0, -100%);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}